*{
font-family: 'Jetbrains Mono', monospace;
     font-size: 13px;
     min-height: 0px;
     padding: 1px;
     margin: 1px;
}

window#waybar {
    background-color: #161616
}


#tags button {
    background-color: #262626;
    padding: 2px 10px;
    border-radius: 4px;
    margin: -2px 3px;
    color: #ffffff;
}
#tags button.occupied {
    background-color: #262626;
    padding: 2px 10px;
    border-radius: 4px;
    margin: -2px 3px;
    color: #ffffff;
}
#tags button.focused {
    background-color: #ffffff;
    color: #262626;
    padding: 2px 10px;
    border-radius: 4px;
    margin: -2px 3px;
}

#custom-clock,
#tags,
#custom-apm,
#custom-bright,
#custom-mix,
#custom-lock, 
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 2px 10px;
    border-radius: 4px;
    margin: 0px 4px;
    color: #000000;
}

#custom-clock {
    background-color: #82cfff;
}

#custom-mix {
    background-color: #ff7eb6;
}

#custom-apm {
    background-color: #be95ff;
}

